// =============================================================================
// Clock
// =============================================================================

.clock {
  position: absolute;
  top: 45px;
  right: 65px;
  font-size: 26px;
  font-style: italic;
  font-weight: 100;
  color: $white;
  opacity: .5;
  transform-origin: right top;
}

@include breakpoint(medium) {
  .clock {
    transform: scale(1);
  }
}

@include breakpoint(large) {
  .clock {
    transform: scale(2.1);
  }
}
