// =============================================================================
// Partners
// =============================================================================

.partners {
  position: absolute;
  bottom: 60px;
  z-index: 1;
  width: 100%;
  text-align: center;
  opacity: .3;

  img {
    display: inline-block;
    max-height: 70px;
    transform-origin: center center;
  }
}

@include breakpoint(medium) {
  .partners img {
    transform: scale(.7);
  }
}

@include breakpoint(large) {
  .partners img {
    transform: scale(1);
  }
}
