// =============================================================================
// Partners
// =============================================================================

.partners {
  position: absolute;
  bottom: 60px;
  z-index: 1;
  width: 100%;
  text-align: center;
  opacity: .4;
  transform-origin: center center;

  img {
    display: inline-block;
    height: 36px;
  }
}

@include breakpoint(large) {
  .partners {
    transform: scale(1.5);
  }
}
